/* Estilos para o corpo de todas as páginas */
body {
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* Estilos para cabeçalhos h1 */
h1 {
  color: #53b26a;
}

/* Estilos para parágrafos */
p {
  color: #ECDFF1;
  font-size: 18px;
  line-height: 1.5;
}

/* Estilos para cabeçalho */
header {
  background-color: #0a0a0a;
  padding: 10px 0;
  text-align: center;
}

/* Estilos para botões no cabeçalho */
header button {
  background-color: #270E2F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos para botões no cabeçalho ao passar o mouse */
header button:hover {
  background-color: #4b1a5b;
}

/* Estilos para links */
a {
  color: #007bff;
  text-decoration: none;
}

/* Estilos para links quando estão em estado de hover (passar o mouse por cima) */
a:hover {
  text-decoration: underline;
}

/* Estilos para a div centralizada */
.centralizada {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; /* Ajuste a altura conforme necessário */
    background-color: #270E2F; /* Cor de fundo da div centralizada */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px;
    max-width: 800px; /* Largura máxima da div centralizada */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilos para a div à esquerda */
.conteudo-esquerda {
    padding: 20px;
    text-align: left;
}

/* Estilos para a div à esquerda */
.conteudo-meio {
    padding: 70px;
}

/* Estilos para a div à direita */
.conteudo-direita {
    padding: 20px;
    text-align: left;
}

/* Estilos para a lista de texto */
ul {
    list-style: decimal;
    padding: 0;
}

/* Estilos para os itens da lista de texto */
ul li {
    margin: 5px 0;
    font-size: 30px;
    font-family: sans-serif;
    color: #53b26a; /* Cor do texto dos itens */
}

img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}



/* Estilos para imagens da equipe */
.equipe-img {
  width: 150px;
  height: 150px;
  background-color: #FFFFFF;
  transition: transform 0.3s, box-shadow 0.3s; /* Adiciona transição para o efeito hover */
}

/* Estilos para o efeito hover */
.equipe-img:hover {
    transform: scale(1.05); /* Aumenta a imagem em 10% quando o mouse passa sobre ela */
    box-shadow: 0 0 200px rgba(83, 178, 106, 0.7); /* Adiciona um brilho de fundo */
}

/* Estilos para o container de membros */
.membros-container {
  display: flex;
  flex-wrap: wrap; /* Permite que as figuras sejam quebradas para a próxima linha quando necessário */
  justify-content: center; /* Centraliza horizontalmente os membros */
  align-items: center; /* Centraliza verticalmente os membros */ 
}

/* Estilos para grupos de membros */
h2 {
  color: #ECDFF1;
  text-align: center;
}

/* Estilos para figuras (imagens e legendas) */
figure {
  display: inline-block;
  text-align: center;
  margin: 10px;
  /* Espaçamento entre as figuras */
}

figcaption {
  font-size: 20px;
  color: #4b1a5b;
  margin-top: 5px;
}